.header {
  width: 100%;
  background-color: black;
  
  &__container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__link {
    color: white;
    text-decoration: none;
  }

  &__logo {
    font-size: 30px;
    font-weight: 700;
  }

  &__favorites {
    background-color: white;
    padding: 5px 15px;
    color: #000;
    border-radius: 4px;
  }
}