.favorites {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 14px;
  }

  &__list {
    width: 720px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }

  &__actions {
    display: flex;
    gap: 16px;
  }

  &__link {}

  &__button {}
}