.movie-page .movie {
  margin: 30px auto;

  p {
    margin: 10px 0;
  }

  &__title {
    margin: 0 0 14px;
    font-size: 32px;
  }

  &__poster {
    min-width: 300px;
    max-width: 400px;
  }

  &__image {
    max-width: 100%;
    border-radius: 8px;
  }

  &__details {
    max-width: 700px;
  }

  &__sinopse {
    margin: 8px 0;
  }

  &__average {
    display: block;
    margin: 8px 0;
  }

  &__genre {
    display: inline-block;
    border: 1px solid black;
    padding: 2px 10px;
    border-radius: 20px;
    margin: 5px;
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: brown;
      color: white;
    }

    &--link {
      text-decoration: none;
      color: black;
      transition: all 0.5s;

      &:hover {
        color: white;
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    gap: 30px;
  }
}
