.movie-page .movie {
  display: flex;
  flex-direction: column;
  gap: 30px;

  p {
    margin: 10px 0;
  }

  &__poster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    min-width: 300px;
    max-width: 400px;
  }

  &__image {
    max-width: 100%;
    border-radius: 8px;
  }

  &__facts {
    & > span + span:before {
      content: ' | ';
    }
  }

  &__tagline {
    font-style: italic;
  }

  &__details {
    max-width: 700px;
  }

  &__sinopse {
    margin: 8px 0;
  }

  &__genre {
    display: inline-block;

    &:not(:last-of-type) {
      &:after {
        content: ',';
        margin-right: 5px;
      }
    }
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__link {
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: brown;
      color: white;
    }

    &--link {
      text-decoration: none;
      color: black;
      transition: all 0.5s;

      &:hover {
        color: white;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
