.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
}