.collection {
  position: relative;
  margin-top: 50px;
  height: 400px;

  border-radius: var(--border-radius);
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: top center;

  &__infos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;

    border-radius: 0 0 8px 8px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
  }

  &__title {
    color: #fff;
  }

  &__paragraph {
    max-width: 800px;
    line-height: 1.5;
  }
}
